<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Avaliação de higienização - Proll Services</title>

  <!-- CSS  -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>

      .icon-block {
          padding: 0 15px;
        }
        .icon-block .material-icons {
            font-size: inherit;
        }

        .vote {
          float: left;
          padding: 1rem;
        }
        .label-vote {
          margin-left: 0.5rem;
        }

  </style>
  <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>

</head>
<body>
  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Proll Services App</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Algum Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Algum Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-darken-4">Avaliação</h1>
      <div class="row center">
        <h5 class="header col s12 light">Avalie a higienização</h5>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <form method="post" action="#" class="col s12">
        {% csrf_token %}
        <div class="row">

          <div class="input-field col s6">
            <!-- <input placeholder="Data da avaliação" id="date" type="text" class="validate"> -->
            <i class="blue-text text-darken-4 material-icons prefix">date_range</i>
            <input id="date" name="date" type="text" class="datepicker">
            <label for="date">Data da avaliação</label>
            <span class="helper-text" data-error="wrong" data-success="right">Campo obrigatório</span>
          </div>

        <div class="input-field col s6">
          <i class="blue-text text-darken-4 material-icons prefix">account_box</i>
          <input disabled name="avaliador" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Avaliador: {Juca}</label>
          <span class="helper-text" data-error="wrong" data-success="right">Campo obrigatório</span>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <i class="blue-text text-darken-4 material-icons prefix">domain</i>
            <input id="estabelecimento" name="estabelecimento" type="text" class="validate">
            <label for="estabelecimento">Estabelecimento</label>
            <span class="helper-text" data-error="wrong" data-success="right">Campo obrigatório</span>
          </div>

          <div class="input-field col s6">
            <i class="blue-text text-darken-4 material-icons prefix">room</i>
            <input id="quarto" name="quarto"  type="text" class="validate">
            <label for="quarto">Quarto</label>
            <span class="helper-text" data-error="wrong" data-success="right">Campo obrigatório</span>
          </div>

        </div>

        <div class="row">

            {% for local_itens, it in items.items %}
                <h4 class="header center blue-text text-darken-4">{{ local_itens }}</h4>
                <div class="input-field col s12">
                  <ul>
                      {% for i in it %}
                        <fieldset>
                          <li>
                            <h5>{{ i }}:</h5>
                            <div class="vote"><a class="waves-effect wave darken-2 btn-floating btn-large"><i class="material-icons">thumb_up</i></a><span class="label-vote">Conforme</span></div>
                            <div class="vote start-camera"><a class="waves-effect red darken-2 btn-floating btn-large"><i class="material-icons left">thumb_down</i></a><span class="label-vote">Não conforme</span></div>
                            <div class="vote"><a class="waves-effect blue-grey darken-2 btn-floating btn-large"><i class="material-icons left">remove_circle</i></a><span class="label-vote">Não se aplica</span></div>
                             <input placeholder="" name="{{i}}-foto" id="download-photo" type="text" class="validate">


                            <div id="webcam-container" class="webcam-container col-12 d-none p-0 m-0">
                              <video id="webcam" autoplay playsinline width="640" height="480"></video>
                              <canvas id="canvas" class="d-none"></canvas>
                              <div class="flash"></div>
<!--                              <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>-->
                          </div>
                          <div id="cameraControls" class="cameraControls">
                              <a href="#" id="exit-app" title="Exit App" class="d-none"><i class="material-icons">exit_to_app</i></a>
                              <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                              <a href="#" id="download-photos" download="selfie.png" target="_blank" title="Save Photo" class="d-none"><i class="material-icons">file_download</i></a>
                              <a href="#" id="resume-camera"  title="Resume Camera" class="d-none"><i class="material-icons">camera_front</i></a>
                          </div>
<!--                            <video id="webcam" autoplay playsinline width="640" height="480"></video>-->
<!--                            <canvas id="canvas" class="d-none"></canvas>-->
<!--                            <p onclick="savePicture()">Tirar foto</p>-->
<!--                            <audio id="snapSound" src="audio/snap.wav" preload = "auto"></audio>-->


                          </li>
                        </fieldset>

                    {% endfor %}
                  </ul>

                </div>
            {% endfor %}

        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="observacao" class="materialize-textarea"></textarea>
          <label for="observacao">Observação</label>
          </div>
        </div>

        <div class="row center-align ">
          <div class="input-field2">
            <button class="btn waves-effect waves-light btn-large" type="submit" onclick="clicked()" >Avaliar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

      </form>

      <footer class="page-footer light-blue darken-4">
        <div class="container">
          <div class="row">
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Precisa de ajuda?</h5>
              Entre em contato:
              <a target="_blank" href="https://api.whatsapp.com/send?phone=31985045915&text=Olá!%20Sou%20{Fulano}.%20%20Poderia%20me%20ajudar%20?
            ">
                <img style="width: 2rem;" src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="" srcset="">
              </a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 - Proll Services App
          </div>
        </div>
      </footer>

  <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.datepicker');
          var instances = M.Datepicker.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function(){
          $('.datepicker').datepicker();
        });

        function clicked() {
          alert('Sua avaliação foi enviado com sucesso!');
        };
      </script>

      <script>
      // https://github.com/bensonruan/webcam-easy
      // https://bensonruan.com/how-to-access-webcam-and-take-photo-with-javascript/#
      // https://materializecss.com/modals.html#!

        const webcamElement = document.getElementById('webcam');

        const canvasElement = document.getElementById('canvas');

        const snapSoundElement = document.getElementById('snapSound');

        const webcam = new Webcam(webcamElement, 'user', canvasElement, snapSoundElement);


        $(".start-camera").click(function () {
            webcam.start()
             .then(result =>{
                console.log("webcam started");
             })
               .catch(err => {
                   console.log(err);
               });
        });

        $('#cameraFlip').click(function() {
            webcam.flip();
            webcam.start();
        });

        $('#closeError').click(function() {
            $("#webcam-switch").prop('checked', false).change();
        });

        function displayError(err = ''){
            if(err!=''){
                $("#errorMsg").html(err);
            }
            $("#errorMsg").removeClass("d-none");
        }

        function cameraStarted(){
            $("#errorMsg").addClass("d-none");
            $('.flash').hide();
            $("#webcam-caption").html("on");
            $("#webcam-control").removeClass("webcam-off");
            $("#webcam-control").addClass("webcam-on");
            $(".webcam-container").removeClass("d-none");
            if( webcam.webcamList.length > 1){
                $("#cameraFlip").removeClass('d-none');
            }
            $("#wpfront-scroll-top-container").addClass("d-none");
            window.scrollTo(0, 0);
            $('body').css('overflow-y','hidden');
        }

        function cameraStopped(){
            $("#errorMsg").addClass("d-none");
            $("#wpfront-scroll-top-container").removeClass("d-none");
            $("#webcam-control").removeClass("webcam-on");
            $("#webcam-control").addClass("webcam-off");
            $("#cameraFlip").addClass('d-none');
            $(".webcam-container").addClass("d-none");
            $("#webcam-caption").html("Click to Start Camera");
            $('.md-modal').removeClass('md-show');
        }


        $("#take-photo").click(function () {
            //beforeTakePhoto();
            let picture = webcam.snap();
            // enviar base64 em um input hidden


            //document.querySelector('#download-photo').href = picture;
            document.querySelector('#download-photo').value = picture;
            afterTakePhoto();
        });

        function beforeTakePhoto(){
            $('.flash')
                .show()
                .animate({opacity: 0.3}, 500)
                .fadeOut(500)
                .css({'opacity': 0.7});
            window.scrollTo(0, 0);
            $('#webcam-control').addClass('d-none');
            $('#cameraControls').addClass('d-none');
        }

        function afterTakePhoto(){
            console.log('after take photo')
            //webcam.stop();
            $('#canvas').removeClass('d-none');
            $('#take-photo').addClass('d-none');
            $('#exit-app').removeClass('d-none');
            $('#download-photo').removeClass('d-none');
            $('#resume-camera').removeClass('d-none');
            $('#cameraControls').removeClass('d-none');
        }

        function removeCapture(){
            $('#canvas').addClass('d-none');
            $('#webcam-control').removeClass('d-none');
            $('#cameraControls').removeClass('d-none');
            $('#take-photo').removeClass('d-none');
            $('#exit-app').addClass('d-none');
            $('#download-photo').addClass('d-none');
            $('#resume-camera').addClass('d-none');
        }

        $("#resume-camera").click(function () {
            webcam.stream()
                .then(facingMode =>{
                    removeCapture();
                });
        });

        $("#exit-app").click(function () {
            removeCapture();
            $("#webcam-switch").prop("checked", false).change();
        });
      </script>


  </body>
</html>


